<li [ngClass]="{'list-group-item': true,
                 'list-group-item-success': potLoveIts>0,
                  'list-group-item-danger': potLoveIts<0} ">

  <div>
  <span class="exception1">{{potTitle}}</span>
  <span class="exception2">{{potCreateAt | date : 'dd/mm/yyyy, hh:mm a'| uppercase}}</span>
   </div>
  <div>
    <p>{{potContent}}</p>
  </div>
  <div>
    <button class="btn btn-success" (click)="onAdd()">Love it</button>
    <button class="btn btn-danger" (click)="onRemove()">Don't love it</button>
  </div>
</li>
